@font-face {
    font-family: 'Conthrax Sb';
    src: url('../fonts/');
    src: local('../fonts/ConthraxSb-Regular'),
        url('../fonts/?#iefix') format('embedded-opentype'),
        url('../fonts/ConthraxSb-Regular.woff2') format('woff2'),
        url('../fonts/ConthraxSb-Regular.woff') format('woff'),
        url('../fonts/ConthraxSb-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

