@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6z6vrj');
  src:  url('../fonts/icomoon.eot?6z6vrj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6z6vrj') format('truetype'),
    url('../fonts/icomoon.woff?6z6vrj') format('woff'),
    url('../fonts/icomoon.svg?6z6vrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fontsocial/icomoon.eot?gixra6');
  src:  url('../fonts/fontsocial/icomoon.eot?gixra6#iefix') format('embedded-opentype'),
    url('../fonts/fontsocial/icomoon.ttf?gixra6') format('truetype'),
    url('../fonts/fontsocial/icomoon.woff?gixra6') format('woff'),
    url('../fonts/fontsocial/icomoon.svg?gixra6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn_arrow:before {
  content: "\e900";
}
.icon-call-outline:before {
  content: "\e901";
}
.icon-menu_arrow:before {
  content: "\e902";
}
.icon-planet:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e900";
  color: #fff;
}
.icon-inst:before {
  content: "\e901";
  color: #fff;
}
.icon-facebook:before {
  content: "\e902";
  color: #fff;
}

