@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");
:root {
  --page-bg: #F3F3F3;
  --white-color: #fff;
  --primary-color: #EF6A37;
  --pr-hover-color: #e26634;
  --dark-color: #141414;
  --grey-color: #DCE0E3;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #EF6A37;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-size: 16px;
  height: 100%;
  font-family: "Mulish", sans-serif;
  color: var(--dark-color);
  background: var(--page-bg);
  transition: all 0.3s ease 0s;
}

button {
  border: none;
  cursor: pointer;
}

body.lock {
  overflow: hidden;
}

body.lock header {
  padding-right: 17px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*--------------------- HEADER ---------------------------------------------------------------- */
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.header__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  width: 180px;
  position: relative;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 30px;
}

.menu__link {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 150%;
}

.menu__link::after {
  display: block;
  content: "";
  top: 50%;
  height: 0.6px;
  width: 0%;
  left: 0;
  background-color: var(--dark-color);
  transition: 0.3s ease all 0.1s;
}

.menu__link:hover::after {
  width: 100%;
  transition: 0.3s ease all;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  background-color: var(--white-color);
  padding: 15px;
  min-width: 250px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 150%;
  display: inline-block;
}

.menu__sub-link::after {
  display: block;
  content: "";
  top: 50%;
  height: 1px;
  width: 0%;
  left: 0;
  background-color: var(--dark-color);
  transition: 0.3s ease all 0.1s;
}

.menu__sub-link:hover::after {
  width: 100%;
  transition: 0.3s ease all;
}

.menu__arrow {
  display: none;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  border-radius: 6px;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

/* --------- Поиск, языки, кнопка ------------- */
.header__action {
  display: flex;
  align-items: center;
  margin-right: 50px;
  z-index: 1;
}

.search__icon .icon-search {
  font-size: 20px;
  color: var(--dark-color);
}
.search__icon .icon-search:hover {
  color: var(--primary-color);
}

.header__lang {
  margin: 0 25px;
}

@media (min-width: 768px) {
  .header__lang:hover .lang__list {
    display: block;
  }
}
.iten_lang {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.iten_lang:hover {
  color: var(--primary-color);
}
.iten_lang .icon-planet {
  margin-left: 6px;
}

.lang__list .lang__link {
  padding: 6px 0;
  cursor: pointer;
}

.lang__list .lang__link a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 14px;
  text-transform: uppercase;
}
.lang__list .lang__link a:hover {
  color: var(--primary-color);
}

.lang__list {
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  background: var(--white-color);
  border: 1px solid #f2f2f2;
  padding: 6px 18px;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

.header__lang:hover .lang__list {
  opacity: 1;
  visibility: visible;
}

.header__button a span {
  font-size: 14px;
  color: var(--dark-color);
  line-height: 100%;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid var(--dark-color);
}
.header__button a span:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.header__button a img {
  display: none;
  width: 24px;
  height: 24px;
}

/* --------- PAGE ------------------------ */
.page {
  flex: 1 1 auto;
}

.page__main-block {
  height: 100vh;
  overflow: hidden;
}

.page__main-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

._ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*---------------- MAIN PAGE STYLE -------------------------------------------------------------*/
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
.hero {
  position: relative;
  padding: 80px 30px 0;
  min-height: 100vh;
  margin-bottom: 100px;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}

.hero__bg {
  padding: 80px 30px 0;
}
.hero__bg img {
  border-radius: 20px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  width: 100%;
  max-width: 1320px;
  position: relative;
}

.slides {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease;
  display: none;
  height: 350px;
}

.slide.active {
  display: block;
}

.content {
  text-align: left;
}

.subheading {
  font-size: 16px;
  color: var(--grey-color);
}

.heading {
  font-size: clamp(28px, 7vw, 48px);
  font-weight: bold;
  color: var(--white-color);
  margin: 10px 0;
  max-width: 630px;
  animation: fadeInUp 1s ease-in-out;
}

.sl_button {
  display: inline-block;
  padding: 15px 40px;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.sl_button:hover {
  background-color: var(--pr-hover-color);
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 0;
  color: var(--white-color);
  cursor: pointer;
}
.pagination .total-slides {
  font-family: "Conthrax Sb";
  margin-left: 5px;
  font-size: clamp(20px, 3vw, 30px);
}
.pagination .divider {
  position: relative;
}
.pagination .divider::before {
  content: "";
  display: block;
  background: var(--white-color);
  width: 3px;
  height: 100%;
  left: 0;
  top: 0;
}
.pagination .current-slide {
  font-family: "Conthrax Sb";
  margin-right: 5px;
  animation: fadeInUp 1s ease-in-out;
  font-size: clamp(60px, 7vw, 80px);
  line-height: 100%;
  margin-top: 45px;
}

.dots {
  position: absolute;
  bottom: 0;
  right: 25px;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #ff5a00;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*---------------- FOOTER ----------------------------------------------------------------------*/
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 60px 0 0 0;
}
.footer a {
  color: var(--white-color);
}

.footer__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  max-width: 222px;
}

.footer__label {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.footer__list li {
  margin-bottom: 14px;
}
.footer__list li a:hover {
  color: var(--pr-hover-color);
  text-decoration: underline;
}

.footer__copyright .copyright__icons {
  width: 85px;
}

/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*--------------- Popup form style -------------------------------------------------------------*/
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
.feedback-container {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 40px;
  max-width: 1050px;
  background: #F0F3F6;
  border-radius: 20px;
  padding: 50px;
  margin: 5px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.tech__title,
.feedback__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  color: var(--dark-color);
}

.tech__text,
.feedback__text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: var(--dark-color);
  margin-bottom: 12px;
}

.tech_list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--dark-color);
  margin-bottom: 5px;
}
.tech_list li span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: var(--primary-color);
}
.tech_list li a {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: var(--dark-color);
}

.tech_list:last-child {
  margin-top: 30px;
}

.input__feedback {
  display: flex;
  flex-direction: column;
}
.input__feedback input {
  background: #eaedf0;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #5b5b5b;
  padding: 14px;
  margin-bottom: 13px;
  font-family: "Mulish", sans-serif;
}
.input__feedback .input__name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.input__feedback .input__name input {
  width: 100%;
}

.add__input {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
}
.add__input textarea {
  background: #eaedf0;
  border-radius: 10px;
  border: none;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #5b5b5b;
  padding: 14px;
  margin-bottom: 13px;
}
.add__input .fields__add {
  display: flex;
  flex-direction: column;
}
.add__input .fields__add label {
  margin-bottom: 5px;
  font-size: 14px;
}

.policy {
  margin-bottom: 20px;
}

.contact__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 30px;
  padding: 14px 39px;
}
.contact__btn:hover {
  background: var(--pr-hover-color);
}

/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*================= АДАПТАЦІЯ СТИЛІВ ДЛЯ МОБІЛЬНИХ ПРИСТРОЇВ ===================================*/
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/*/
@media (max-width: 1040px) {
  .header__button a span {
    display: none;
  }
  .header__button a img {
    display: block;
  }
}
@media (max-width: 959.98px) {
  .feedback-container {
    grid-template-columns: 1fr 440px;
    gap: 20px;
  }
  .tech__title, .feedback__title {
    font-weight: 700;
    font-size: 24px;
  }
  .footer__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .menu__link {
    font-size: 13px;
  }
  .menu__list > li {
    margin: 0px 0px 0px 20px;
  }
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 50px;
  }
  .header__lang {
    display: block;
    z-index: 5;
  }
  .menu__icon {
    display: block;
    z-index: 5;
    position: absolute;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 10px;
    top: 32%;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0px 0px -15px;
    display: none;
  }
  .menu__sub-link {
    font-size: 16px;
    color: #000;
  }
  /*--- slider ---*/
  .slide {
    height: 470px;
  }
  /*-- modal form --*/
  .feedback-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .tech_list:last-child {
    margin-top: 15px;
  }
}
@media (max-width: 640px) {
  .footer__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .popup__close {
    width: 15px;
    height: 15px;
  }
  .tech_list li a {
    font-size: 18px;
  }
  .feedback-container {
    padding: 35px 20px;
  }
  .add__input {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .input__feedback .input__name {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    width: 110px;
  }
}
@media (max-width: 414.98px) {
  .menu__link {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
  }
  .menu__sub-link {
    font-size: 16px;
  }
}/*# sourceMappingURL=main-style.css.map */