/*----------------Form------------------------------------------------------------------*/
.popup {
  position: fixed;
  background-color: rgba(54, 54, 54, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup__body {
  min-height: 100%;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 10px;
}

#feedback-form {
  position: relative;
  height: auto;
  background: #FFFFFF;
  padding: 50px 10%;
  z-index: 2;
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.popup__close img {
  width: 20px;
  height: 20px;
}

#feedback-form h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  font-family: 'Montserrat Regular';
  border: none;
  border-bottom: 1px solid #8A8A8A;
  padding: 15px 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #595757;
  width: 100%;
}

.form-group input {
  height: 40px;
  margin-bottom: 5px;
}

#rules {
  margin: 20px 0;
}

#rules input {
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid #B7B6B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

#rules label a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #959595;
}

.btn {
  font-family: 'Montserrat Regular';
  position: relative;
  width: 100%;
  font-family: 'Montserrat Semibold';
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 0;
  border: none;
  cursor: pointer;
  background-color: #ff9900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn::after {
  background-color: #ff9900;
}

.btn::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/*# sourceMappingURL=popupform.css.map */